users
	table
		table-layout fixed

		th, td
			word-wrap break-word
			overflow hidden
			text-overflow ellipsis
			vertical-align middle !important

		td.control-content, td.icon-content
			text-align center

			i.u-active
				color #1e4ccc
			i.u-not-active
				color #e53935

		th.control-header
			padding 0 !important
			text-align center
			vertical-align middle

	.dataTables_filter
		text-align left

	.dataTables_empty
		text-align center

.invite-user
	margin-bottom 10px
