color-picker ul {
	outline: none;
	list-style-type: none;
}

color-picker li {
	box-sizing border-box
	outline none
	margin-right 15px !important
}

color-picker li:hover{
	 cursor pointer
 }

color-picker li.selected {
	border: 2px solid #2b2b2b;
}


