widget-log
	.info-box-text
		display inline-block
		width 87%

	.info-box-icon
		text-transform uppercase
		cursor pointer
		color #FFFFFF

		&:hover
			background rgba(0, 0, 0, .15)

	.edit-icon
		&:focus
			outline 0
		&:hover
			cursor pointer

	.progress-description
		strong
			color #e53935


