<div class="overview-box">


	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Processed Files Report</h3>
			<div class="box-tools pull-right">
				<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="info-box">
						<span class="info-box-icon bg-green"><i class="fa fa-files-o"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Processed</span>
							<span class="info-box-number">567</span>
						</div><!-- /.info-box-content -->

					</div><!-- /.info-box -->
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="info-box">
						<div class="info-box-content no-padding no-margin">

							<span class="label label-danger">Safilo (13)</span>
							<span class="label label-success">kenmark (12)</span>
							<span class="label label-info">Javascript</span>
							<span class="label label-warning">PHP</span>
							<span class="label label-primary">Node.js</span>

						</div>
					</div>
				</div>
			</div><!-- /.row -->
			<div class="row">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i class="fa fa-files-o"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Failed</span>
						<span class="info-box-number">14</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</div><!-- /.row -->
		</div><!-- /.box-body -->
		<div class="box-footer no-padding">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#">Import failed for: /app/clientftp\localuser/eseyewear/jiecosystem/incoming/RP.TXT <span
					class="pull-right">09/21/2023 4:50PM</span></a></li>
				<li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a>
				</li>
				<li><a href="#">China <span class="pull-right text-yellow"><i
					class="fa fa-angle-left"></i> 0%</span></a></li>
				<li><a href="#">Germany <span class="pull-right text-green"><i
					class="fa fa-angle-up"></i> 12%</span></a></li>
				<li><a href="#">Spain <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 4.5%</span></a>
				</li>
				<li><a href="#">UK <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 0.125%</span></a>
				</li>
			</ul>
		</div><!-- /.footer -->
	</div><!-- /.box -->

	<div class="box-header with-border">
		<h3 class="box-title">Errors</h3>
	</div><!-- /.box-header -->
	<div class="row overview-header text-center-xs">
		<div class="col-sm-8">
			<div class="b-oh-indicator clickable" ng-click="ctrl.resetFilter()">
				<div class="b-oh-i-slider"></div>
				<div class="b-oh-i-caption">Total</div>
				<div class="b-oh-i-value lead">{{ctrl.logOverview.TotalErrors}}</div>
			</div>

			<div class="b-oh-indicator-critical clickable" ng-click="ctrl.filterSeverity()">
				<div class="b-oh-i-slider"></div>
				<div class="b-oh-i-caption">Critical</div>
				<div class="b-oh-i-value lead">{{ctrl.logOverview.CriticalErrors}}</div>
			</div>

			<div class="b-oh-indicator">
				<div class="b-oh-i-caption">Unique</div>
				<div class="b-oh-i-value lead">{{ctrl.logOverview.UniqueErrors}}</div>
			</div>

			<div class="b-oh-indicator clickable" ng-click="ctrl.filterByUsers()">
				<div class="b-oh-i-slider"></div>
				<div class="b-oh-i-caption">Users</div>
				<div class="b-oh-i-value lead">{{ctrl.logOverview.UsersAffected}}</div>
			</div>

			<div class="b-oh-indicator">
				<div class="b-oh-i-slider"></div>
				<div class="b-oh-i-caption">Browsers</div>
				<div class="b-oh-i-value lead">{{ctrl.logOverview.BrowsersAffected}}</div>
			</div>

			<div class="b-oh-indicator clickable">
				<div class="b-oh-i-slider"></div>
				<div class="b-oh-i-caption">Affected Browsers</div>
				<div class="b-oh-i-value lead">
					<span ng-class="{'b-oh-i-v-disabled': !ctrl.logOverview.IsChromeAffected}"
						  ng-click="ctrl.filterByBrowser('chrome')">
						<i class="fa fa-chrome"></i>
					</span>
					<span ng-class="{'b-oh-i-v-disabled': !ctrl.logOverview.IsFirefoxAffected}"
						  ng-click="ctrl.filterByBrowser('firefox')">
						<i class="fa fa-firefox"></i>
					</span>
					<span ng-class="{'b-oh-i-v-disabled': !ctrl.logOverview.IsIeAffected}"
						  ng-click="ctrl.filterByBrowser('ie')">
						<i class="fa fa-internet-explorer"></i>
					</span>
					<span ng-class="{'b-oh-i-v-disabled': !ctrl.logOverview.IsOperaAffected}"
						  ng-click="ctrl.filterByBrowser('opera')">
						<i class="fa fa-opera"></i>
					</span>
					<span ng-class="{'b-oh-i-v-disabled': !ctrl.logOverview.IsSafariAffected}"
						  ng-click="ctrl.filterByBrowser('safari')">
						<i class="fa fa-safari"></i>
					</span>
				</div>

			</div>
		</div>
		<div class="col-sm-offset-1 col-sm-3">
			<div class="input-group input-group-unstyled pull-right">
				<select ng-model="ctrl.filter" class="form-control" ng-change="ctrl.updateOverview(ctrl.filter)">
					<option selected value="5m">Last 5 minutes</option>
					<option value="15m">Last 15 minutes</option>
					<option value="1h">Last hour</option>
					<option value="6h">Last 6 hours</option>
					<option value="12h">Last 12 hours</option>
					<option value="1d">Last day</option>
					<option value="3d">Last 3 days</option>
					<option value="7d">Last week</option>
					<option value="All">All</option>
				</select>
				<span class="input-group-addon"><a ng-click="ctrl.updateOverview()" class="btn-box-tool"><i
					class="fa fa-refresh"></i></a></span>
				<span class="input-group-addon"><a href="#" class="btn-box-tool"><i class="fa fa-expand"></i></a></span>
			</div>
		</div>
	</div>

	<div class="row overview-double-bar">
		<div class="col-sm-12">
			<double-bar error="ctrl.logOverview.ErrorPercentage" warning="ctrl.logOverview.WarningPercent"></double-bar>
		</div>
	</div>

	<div class="row overview-chart" ng-if="!ctrl.hideOverview">
		<canvas id="bar" class="chart chart-bar"
				chart-dataset-override="ctrl.datasetOverride" chart-options="ctrl.options"
				chart-data="ctrl.chartData" chart-labels="ctrl.chartLabels">
		</canvas>
	</div>

	<div class="row overview-aggregation" ng-if="!ctrl.hideOverview">
		<div class="col-sm-12 col-lg-4">
			<h3>Recent</h3>
			<error-recent rows="ctrl.logOverview.RecentErrors"></error-recent>
		</div>
		<div class="col-sm-6 col-lg-4">
			<h3>Frequent</h3>
			<error-aggregate rows="ctrl.logOverview.FrequentErrors"></error-aggregate>
		</div>
		<div class="col-sm-6 col-lg-4">
			<h3>Frequent URLs</h3>
			<error-aggregate rows="ctrl.logOverview.FrequentUrls"></error-aggregate>
		</div>
	</div>

	<p class="lead text-center" ng-if="ctrl.hideOverview">There are no data for selected period.</p>

</div>
