error-details
	.detail-group
		padding 2px 0

		.detail-group-label
			display inline-block
			vertical-align top
			width 30%
			font-weight 700

		.detail-group-value
			display inline-block
			width 68%

			.label-info
				margin-right 5px

	.icon-c
		margin 20px 0

		.i-c-item
			border-radius 50%
			border 2px solid black
			padding 10px

	.badge
		position absolute
		top 2px
		right 5px

	.stacktrace
		margin-top 15px

	table
		td.name
			font-weight 700

	.capitalize
		text-transform capitalize

.fa-plus-circle,.fa-minus-circle
	font-size 1.3em
	margin-left 36%
