double-bar
	.b-double-bar
		font-size 0

		.b-db-progress
			display inline-block
			font-size 14px
			text-transform: uppercase;
			font-weight: 600;

			.b-db-p-caption
				margin-bottom 10px

			.b-db-p-value
				height 20px

			.m-error
				background-color #f56954

			.m-warning
				background-color #ffd600
