<div class="login-box">
	<div class="login-logo">
		<a href="/">Monitorr</a>
	</div>
	<!-- /.login-logo -->
	<div class="login-box-body">
		<p class="login-box-msg" ng-hide="resetSent">Fill email to continue</p>
		<div ng-if="resetFailed">
			<p class="login-box-msg text-red">{{resetErrorMessage}}</p>
		</div>
		<form ng-submit="reset()" ng-hide="resetSent">
			<div class="form-group has-feedback">
				<input ng-model="email" type="email" class="form-control" placeholder="Email" required>
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<div class="checkbox icheck">
					</div>
				</div>
				<!-- /.col -->
				<div class="col-xs-4">
					<button type="submit" class="btn btn-primary btn-block">Reset</button>
				</div>
				<!-- /.col -->
			</div>
		</form>

		<p class="text-light-blue text-center" ng-hide="!resetSent">Email has been sent.</p>
		<p class="text-light-blue text-center" ng-hide="!resetSent">Check your inbox.</p>

		<div class="login-box-footer text-center">
			<a ui-sref="auth.login" class="text-center">I remember password &rarr;</a>
			<br>
			<a ui-sref="auth.signup" class="text-center">Register for a new account &rarr;</a>
		</div>

	</div>
	<!-- /.login-box-body -->
</div>
<!-- /.login-box -->
